name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag (e.g., v1.3.0)'
        required: true
        default: 'vNotFound'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: 8

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build
        env:
          VERSION: ${{ github.event.inputs.version }}

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: somsupporter-${{ github.event.inputs.version }}
          path: build/libs/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          files: build/libs/*.jar
          generate_release_notes: true