name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup JDK (Corretto 8)
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '8'

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Collect Release JAR
        run: |
          mkdir release
          cp build/libs/*.jar release/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: somsupporter-${{ github.ref_name }}
          path: release/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
